.btn {
    background-color: $mainGold;
    padding: 8px 15px;
    color: #000;
    font-family: "playfair display";
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    
    @mixin atSmall {
        padding: 10px 30px;
    }

}