.contact {
    margin-bottom: 0;
    

    &__photo {
        box-shadow: none;
        width: 100%;
        padding-top: 55px;

        @mixin atSmall {
            width: 75%;
            margin-left: 12%;
        }

        @mixin atMedium {
            box-shadow: -15px 15px 0px 1px $mainGold;
            padding-top: 0;
            margin-left: 0;
            width: 100%;
        }
        
    }

    &__btn {
        margin-bottom: 55px;
        
    }

    input, textarea {
        border: none;
        border-bottom: 1px solid $mainLightGray;
        display: block;
        color: $mainGray;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
        
    }

    textarea {
        padding-top: 15px;
        margin-bottom: 35px;
    }
    
    input::-webkit-input-placeholder {
        color: $mainLightGray;
        font-style: italic;
    }
    
    textarea::-webkit-input-placeholder {
        color: $mainLightGray;
        font-style: italic;
    }
    
    label {
        color: #FFF;
        font-family: "open sans";
    }
}


#contact {
    background-color: $mainBlack;
    color: #FFF;
}