.lawyers {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__flex-container {
        flex-basis: 47%;
        margin-bottom: 35px;

        @mixin atSmall {
            flex-basis: 47%;
            
        }

        @mixin atMedium {
            flex-basis: 23%;
        }
        
    }

    &__photo {
        width: 100%;
        
        @mixin atSmall {
            width: 100%;
        }

        @mixin atMedium {
            width: 100%;
        }
    }

    &__lawyer-name {
        margin-bottom: 0;
        letter-spacing: 0.5px;

    }

    &__lawyer-job {
        margin: 0;
        color: $mainGray;
        font-family: "open sans";
        font-size: 0.8rem;
    }
}