.modal {
    position: fixed;
    z-index: 10;
    background-color: rgba($mainBlack,0.95);
    opacity: 0;
    visibility: hidden;
    top: 5%;
    left: 5%;
    right: 5%;
    transform: translateY(-5%);
    transform: scale(1.1);
    transition: all 0.3s ease-in;
    
    @mixin atSmall {
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        transform: translateY(-10%);
        
    }

    @mixin atMedium2 {
        top: 10%;
        left: 25%;
        right: 25%;
        bottom: 10%;
        transform: translateY(-10%);
    }
   

    &--visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        
    }


    &__title {
        color: #FFF;
        padding-top: 20px;
        margin-bottom: 0;

        @mixin atSmall {
            padding-top: 40px;
        }
    }

    &__form {
        padding-top: 20px;
        margin-bottom: 15px;
        

        @mixin atSmall {
            padding-top: 50px;
        }
    }

    &__close {
        position: absolute;
        color: #FFF;
        top: 15px;
        right: 15px;
        font-size: 1.857rem;
        cursor: pointer;

        &:hover {
            color: $mainGold;
        }

    }


    input, textarea {
        border: none;
        border-bottom: 1px solid $mainLightGray;
        display: block;
        color: $mainGray;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
        
    }

    textarea {
        padding-top: 15px;
        margin-bottom: 35px;
    }
    
    input::-webkit-input-placeholder {
        color: $mainLightGray;
        font-style: italic;
    }
    
    textarea::-webkit-input-placeholder {
        color: $mainLightGray;
        font-style: italic;
    }
    
    label {
        color: #FFF;
        font-family: "open sans";
    }
}