.primary-nav {
    
    


    &__brand {
        font-size: 1.562rem;
        font-weight: 900;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "Playfair Display";
        
        span {
            color: $mainGold;
            font-size: 1.25rem;
        }
    }

    &__nav-item {
        padding: 38px 0 10px 0;
        margin-right: 25px;
        font-weight: 600;
        font-size: 0.875rem;
        font-family: "open sans";
        transition: all 0.2s ease-in-out;
        

        &:hover {
            border-bottom: 5px solid $mainGold;
        }


    }

    &--pull-right {
        float: right;
        display: none;

        @mixin atMedium2 {
            display: initial;
        }
    }

    &--pull-left {
        float: left;
    }

    ul {
        margin: 0;
        padding: 0;
        
        @mixin clearfix;
    }

    li {
        list-style: none;
        display: inline-block;
    }

    a {
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        color: #000;
        
    }
}