.primary-nav {
    

    &__brand {
        font-size: 1.562rem;
        font-weight: 900;
        padding-bottom: 30px;
        font-family: "Playfair Display";

        @mixin atSmall {
            padding-bottom: 10px;
        }

        span {
            color: $mainGold;
            font-size: 1.25rem;
        }
    }

    &__nav-item {
        padding: 0px 0 5px 0;
        margin-right: 15px;
        font-weight: 600;
        font-size: 0.875rem;
        font-family: "open sans";
        transition: all 0.3s;
        display: inline-block;
        

        @mixin atSmall {
            padding: 30px 0 0 0;
            margin-right: 10px;
            
        }

        @mixin atMedium {
            margin-right: 25px;
            padding: 8px 0 8px 0;
               
        }

        &:hover {
            border-bottom: 5px solid $mainGold;
        }


    }

    &--pull-right {
        text-align: center;
        
        @mixin atMedium {
            float: right;
        }
    }

    &--pull-left {
        text-align: center;

        @mixin atMedium {
            float: left;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        
        @mixin clearfix;
    }

    li {
        list-style: none;
        
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: #000;

        &.is-current-link {
            color: $mainGold;
        }
        
        
        
    }
}