.publications {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
    flex-direction: column;

    @mixin atSmall {
        flex-direction: row;
    }

    &__flex-container {
        flex-basis: 32%;
        border-bottom: 2px solid $mainGold;
        margin-bottom: 50px;
   
    }

    &__photo {
        width: 100%;
       
    }

    &__name {
        display: inline;
        margin-top: 0;
        font-family: "open sans";
        font-size: 0.8rem;
        font-weight: 700;
    }

    &__title {
        margin-bottom: 0;
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__date {
        color: $mainGray;
        display: inline;
        font-family: "open sans";
        font-size: 0.8rem;
        float: right;
        margin-top: 0;
    }
    

    &__text {
        color: $mainGray;
        font-family: "open sans";
        line-height: 1.562rem;

    }

    &__icon-share{
        float:right;
        margin-top: 0;
        cursor: pointer;
        margin-bottom: 20px;
    }

}

span {
    color: $mainGray;
    font-style: italic;
    display: inline;
    font-family: "open sans";
    font-size: 0.8rem;
    
}
