.row {

    @mixin clearfix;

    &__medium-6 {
        width: 100%;
        float: left;

        @mixin atMedium {
            width: 50%;
            
        }
    }

    &__medium-7 {
        width: 100%;
        float: left;

        @mixin atMedium {
            width: 60%;
        }
    }
    
    &__medium-8 {
        width: 100%;
        float: left;

        @mixin atMedium {
            width: 40%;
        }
    }

    &--lm {
        margin-left: 28px;
    }

    &--tp {
        padding-top: 30px;
    }

    &--mb {
        margin-bottom: 25px;

        @mixin atMedium {
            margin-bottom: 75px;
        }
    }


    &--gutters-small {
        margin-right: -45px;
    }

    &--gutters-small > div {
        padding-right: 45px;
    }

    &--gutters-medium {
        margin-right: -75px;
    }

    &--gutters-medium > div {
        padding-right: 75px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters-large > div {
        padding-right: 100px;
  }

    &--gutters-medium {
        margin-right:
    }

}